extends layout

block content
  if (info)        
  h1 Edit Trade
  p.lead Change Trade Information 
      form(role='form', action="/upload",method="post", enctype="multipart/form-data", style='max-width: 300px;')
        span Change Trade Image:
        .form-group
          input.form-control(type='file', name='image')
          input(type='hidden', name='tradeID', value=info._id)
        button.btn.btn-default(type='submit') Submit    
      form(role='form', action="/admintrade", method="post", style='max-width: 300px;')
        span Change Title:    
        .form-group
          input.form-control(type='text', name="title", value=info.title)
        span Change Trade Item(s):    
        .form-group
          input.form-control(type='text', name="tradeitems", value=info.itemGive)
        span Change Item(s) Requested:  
        .form-group
          input.form-control(type='text', name="itemsreq", value=info.itemReq)
        span Change Description
        .form-group
          input.form-control(type='description', name="description", value=info.desc)
        .form-group
          span Delete Trade
          input.form-control(type="checkbox", name="delete", value="1") 
        button.btn.btn-default(type='submit') Submit
        a(href='/admin')
          button.btn.btn-primary(type="button") Cancel   