extends layout

block content
  header(role='banner')
    hgroup
        h1
            a(href='/'): img(src='/images/logo.jpg')    
            <strong>A4 CRUD App</strong>
        if(user)
            if (!user.displayname)
                h2 Welcome 
                    a(href='/edit') #{user.username}!
            if (user.displayname)    
                h2 Welcome 
                    a(href='/edit') #{user.displayname}!              
  br    
  if (!user)
    a(href="/login") Login
    br
    a(href="/register") Register
  if (user)    
    ul#nav
      li
        a(href="/profiles") Users
      li
        a(href="/maketrade") New Trade
      li
        a(href="/tradelist") All Trades
      li
        a(href="/logout") Logout  
    br
    br
    br 
    br
    if(user.avatar)   
        a(href='/upload'): img(src='/images/' + user.avatar, height='100', width='100') 
    else
        a(href='/upload'): img(src='/images/default.jpg', height='100', width='100')             
    br
    br
    p Email: #{user.username}
    p Display Name: #{user.displayname}  
    p Description: #{user.description}
    a(href="/edit") Edit Profile
    br
    if (user.sys)
      a(href='/admin') Admin Tools 
    br 
    br
    h3 My Trades
    ul
        each val in trades
            form(action='/tradelist', method='post')
                span= val.title
                br
                button.btn.btn-sm(name='_id', value=val._id) View Trade
            br