extends layout

block content
    if(user)
      if (!user.displayname)
        h2 #{user.username}'s Profile
      if (user.displayname)    
        h2 #{user.displayname}'s Profile
    if(user.avatar)
      img(src='/images/' + user.avatar, height='100', width='100')
    else
      img(src='/images/default.jpg', height='100', width='100')
    br
    br
    p Email: #{user.username}
    p Display Name: #{user.displayname}
    p Description: #{user.description}
    p Rating: #{user.avgRating}
    form(role='rate', action="/rate",method="post", style='max-width: 300px;')
        p Leave #{user.displayname} a rating:
            select(name='rating')
                each i in [1, 2, 3, 4, 5]
                    option(value="#{i}") #{i}
        button(name='rate', value='#{user._id}') Submit Rating
    br
    form(role='comment', action='/comment',method='post')
        lead Leave #{user.displayname} a comment:
            .form-group
                input.form-control(type='text', name="comment")
        button.btn.btn-default(type='submit', name='com', value='#{user._id}') Submit Comment
    br
    h3 #{user.displayname}'s Trades
    ul
        each val in trades
            form(action='/tradelist', method='post')
                span= val.title
                br
                button(name='_id', value=val._id) View Trade
            br
    if (user.comments[0])
      h4 #{user.displayname}'s Comments
      ul
          each comment in user.comments
              p #{comment.comment}
              p From: #{comment.user}
              br
    a(href='/profiles') View All Profiles