extends layout

block content
  header(role='banner')
    hgroup
        h1
            a(href='/'): img(src='/images/logo.jpg')    
            <strong>A4 CRUD App</strong>
        if(user)
            if (!user.displayname)
                h2 #{user.username}'s Profile
            if (user.displayname)    
                h2 #{user.displayname}'s Profile
    if(user.avatar)   
        a(href='/upload'): img(src='/images/' + user.avatar, height='100', width='100') 
    else
        a(href='/upload'): img(src='/images/default.jpg', height='100', width='100')             
    br
    br
    p Email: #{user.username}
    p Display Name: #{user.displayname}  
    p Description: #{user.description} 
    h3 #{user.displayname}'s Trades
    ul
        each val in trades
            form(action='/tradelist', method='post')
                span= val.title
                br
                button(name='_id', value=val._id) View Trade
            br
    a(href='/profiles') 
        p View All Profiles