extends layout

block content
    if (owner._id.equals(user._id))
        form(action='/upload', method='post')
            button(name='tradeID', value=info._id) Change Trade Picture
        br
    if(info.pic)   
        img(src='/images/' + info.pic, height='100', width='100') 
    else
        img(src='/images/default.jpg', height='100', width='100')             
    br
    br
    p Title: #{info.title}
    p Trade Owner: #{owner.displayname}
    p Item(s) For Trade: #{info.itemGive}
    p Item(s) Requested: #{info.itemReq}
    p Description: #{info.desc} 
    br
    form(action='/profiles', method='post')
        button(name='_id', value=owner._id) View #{owner.displayname}'s Profile
    br
    a(href='/tradelist') View All Trades             